/src/lib/*.asv
**/src/MaterialDatabase/Data/Elsepa/*.f
**/src/MaterialDatabase/Data/Elsepa/*.in
**/src/MaterialDatabase/Data/Elsepa/*.txt
**/src/MaterialDatabase/Data/Elsepa/*.dat
**/src/MaterialDatabase/Data/Elsepa/*.den
**/src/MaterialDatabase/Data/Elsepa/*.dfs
*.m~